@model ReSTCore.Models.HelpModel
@{
    Layout = "Layout.cshtml";
    ViewBag.Title = "Help for " + @Model.ServiceName + " Service";
}

@if (Model.HelpDisabled)
{
    <h2>Help has been disabled for the @Model.ServiceName service.</h2>
}
else
{
    <h2>@Model.ServiceDescription</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Path</th>
            <th>Verbs</th>
            <th>Request DTO</th>
            <th>Response DTO</th>
            <th>Description</th>
        </tr>
        @foreach (var route in Model.Routes)
        {
            <tr>
                <td class="left @(route.Parameters.Any() ? "" : "bottom")" nowrap="nowrap">@route.MethodName</td>
                <td class="@(route.Parameters.Any() ? "" : "bottom")" nowrap="nowrap">
                    @foreach (var pathInfo in @route.PathInfo)
                    {
                        @pathInfo.Path<br/>
                    }
                </td>
                <td class="@(route.Parameters.Any() ? "" : "bottom")" nowrap="nowrap">
                    @foreach (var pathInfo in @route.PathInfo)
                    {
                        @pathInfo.HttpVerb<br/>
                    }
                </td>
                <td class="@(route.Parameters.Any() ? "" : "bottom")">@route.RequestDTO</td>
                <td class="@(route.Parameters.Any() ? "" : "bottom")">@route.ResponseDTO</td>
                <td class="right @(route.Parameters.Any() ? "" : "bottom")">
                    @route.Description
                </td>
            </tr>
            if (route.Parameters.Any())
            {
                <tr>
                    <td class="parameters left @(route.Parameters.Any() ? "bottom" : "")">Parameters</td>
                    <td class="parameters right @(route.Parameters.Any() ? "bottom" : "")" colspan="5">
                        @foreach (var param in route.Parameters)
                        {
                            <div><strong>@param.Name</strong> - @param.Description</div>
                        }
                    </td>
                </tr>
            }
        }
    </table>
}
